/* .app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

table {

    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    border-radius: 15px;
}

.title {
    font-size: 32px;

    .app-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #ffffff;
        text-align: left;
        padding: 8px;
        font-size: 32px;
    }

    th {
        background-color: rgb(117, 201, 250);
    }

    td {
        background-color: rgb(205, 235, 253);
    }

    form {
        display: flex;
        gap: 5px;
    }

    form td:last-child {
        display: flex;
        justify-content: space-evenly;
    }

    form * {
        font-size: 28px;
    }

    font-weight: bold;
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
}

.createdAt {
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-top-right-radius: 15px;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
}

th {
    background-color: rgba(183, 208, 223, 0.298);
}

td {
    background-color: rgb(255, 255, 255);
}

form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 6px 18px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
} */